@import 'mixin'  

*
    font-family: 'Roboto'
    transition: all  .3s ease  
body
    font-family: 'Roboto'   
    background-color: $dark_grey
    background-color: $dark_grey
    background: repeating-radial-gradien(#7a8392  , $dark_grey, #7a8392)
    .container
        >.row
            box-shadow: 0px 20px 50px -12px $blue_color 

@font-face
    font-family: "Roboto"
    src: url("../css/font/Roboto-Regular.ttf")

@font-face
    font-family: "Roboto-Black",sans-serif 
    src: url("../css/font/Roboto-Black.ttf")

@font-face
    font-family: "Arimo"
    src: url("../css/font/Arimo-Regular.ttf")


// *****************************************************************
.chat-body
    margin-top: 3em
.menu
    background: #37474F
    box-shadow: -3px 0 20px 0 $blue_grey200 
    
    
    // background: repeating-linear-gradient(to right, #263238 , #4557E7 51%, #263238   )
    // background: radial-gradient( #37474F, #455A64)
    ul 
        width: 100%

    .fa
        font-size: 20px
        color: $dark_grey 
        cursor: pointer
        &:hover
            color: white
    .active
        color: white 
    .logImage
        cursor: pointer

.main
    background: #f2f6fc
    box-shadow: -20px 4px 50px -16px $blue_color 
    
    // background: repeating-linear-gradient(to right, #CFD8DC 5% , #ECEFF1 85%, #CFD8DC )
    overflow-y: auto
    height: 701px
    &::-webkit-scrollbar
        width: 0.5em
        height: 50px

    &::-webkit-scrollbar-track
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)

    &::-webkit-scrollbar-thumb
        background-color: $dark_grey
        outline: 1px solid slategrey
    
    .form-group
        input,button
            background-color: $grey100
            border: 0
            &:focus
                outline: 0
        input
            width: 80%
            text-align: center
            font-family: 'Arimo'
            font-size: 16px
            
        button
            padding: 5px 11px
            color: $dark_grey
            cursor: pointer
    ul
        width: 100%
        li
            padding: 15px
            cursor: pointer
            font-family: 'Arimo'   
            
            &:hover
                background-color: $grey100
            h4
                @include text_style(14px, roboto, $white50, 600, 1.2)
            p  
                @include text_style(12px, roboto, #757575, 400, 20px)
            span
                @include text_style(10px, roboto, #757575, 400, 20px)
            .newmsj
                @include text_style(10px, roboto, #E1F5FE, 400, 20px)
                background: #7bbdfa
                width: 1.5em
                height: 1.5em
                border-radius: 50%
                visibility: hidden
            .activenewmsj
                visibility: visible

.main_body
    background: #f7f9fa
    box-shadow: -5px 0 40px 0 $blue_grey200 
    .chat_body
        .chat_body_header
        span
            @include text_style(10px, roboto, $blue_grey200, 400, 20px)
        i
            &:before
                font-family: fontAwesome
        .chat_body_conver
            height: 556px
            overflow-x: hidden
            overflow-y: auto

            &::-webkit-scrollbar 
                width: 0.5em
                height: 50px

            &::-webkit-scrollbar-track 
                -webkit-box-shadow: inset 0 0 6px $grey100

            &::-webkit-scrollbar-thumb 
                background-color: $dark_grey 
                outline: 1px solid slategrey
            p  
                @include text_style(13px, roboto, $dark_grey, 400, 28px)
                background-color: $grey100
                width: max-content
                padding: 3px 8px 
                border-radius: 5px
                border-bottom-left-radius: 0
            div>.myPar
                background-color: #4FC3F7
                color: white
                border-radius: 3px
                border-bottom-right-radius: 0
                max-width: 360px
            img  
                cursor: pointer                   
            span
                line-height: 21px
        .chat_body_footer
            background: $grey100
            .form-group
                margin: 0
                width: 70%
                input
                    background-color: $grey100
                    border: 0
                    padding: 22px
                    font-family: Roboto
                    &:focus
                        outline: o
            i
                color: $dark_grey
                font-size: 20px
                margin-right: 25px
                cursor: pointer
            .fa-angle-up
                border: 1px solid black
                border-radius: 50%
                padding: 0px 3px
    .js_info_user
        background-color: white
        box-shadow: -1px 0 20px 0 $blue_grey200 
        display: none
        .pro_img
            width: 100px
            height: 95px
            img
                width: 100%
        .fa-angle-down
            border-radius: 100%
            padding: 4px 7px
            cursor: pointer
            &:hover
                background-color: #f7f9fa 
        .rounded
            width: 70px
            height: 58px
        span ,i  
            color: $blue_grey200
        p  
            font-size: 13px
        .video
            width: 130px
            img     
                width: 100%
    
    h5
        @include text_style(15px, roboto, $dark_grey, 400, 24px) 
    h3
        @include text_style(16px, Arimo, $white50, 600, 24px) 
        .userName
            @include text_style(16px, Arimo, $white50, 600, 24px) 
        .fa-circle
            font-size: 10px
            position: relative
            font-family: Roboto
            margin-left: 25px
            &:before
                color: #00E676
                font-family: fontAwesome
                font-size: 9px
                position: absolute
                top: -1px
                left: -15px
    p  
        @include text_style(13px, Roboto, $blue_grey200, 400, 15px) 
    .fa.pr-4
        @include text_style(22px, Roboto, #78909C, 400, 15px) 
        cursor: pointer
        &:hover
            color: #607D8B
.myInfo
    display: none
    background: white
    background: #f7f9fa
    box-shadow: -20px 4px 50px -16px $blue_color 

    h3
        @include text_style(18px, Roboto, $dark_grey, 600, 24px) 

    h1
        @include text_style(20px, Arimo, $white50, 600, 24px) 
    p  
        @include text_style(13px, Arimo, $blue_grey200, 600, 24px) 
    .owl-dots
        position: absolute
        right: -14%
        top: 50%
        transform: rotate(90deg)
    .userProfileInfo
        ul  
            li 
                @include text_style(13px, Roboto, $blue_grey200, 400, 24px) 
            .pl-1
                color: #37474F
    .myLocation
        .social_link
            li 
                border: 0
                padding: 0
                a
                    background-size: contain 
                    line-height: 51px
                    padding: 16px 12px
                    text-indent: -999px 
.myInfoDocs
    display: none
    background: white
    background: #f7f9fa
    box-shadow: 0


$color: blue

// =simple-mixin
//     @if ".video_h3 == red"
//         color: red
//     @else 
//         // @debug "$boolean is #{$boolean}"
//         color: yellow

.my_video
    .video_h3
        @include text_style(13px, Roboto, $dark_grey, 600, 24px) 
        position: relative 
        z-index: 5
        // +simple-mixin
        &:before
            content: " "
            position: absolute
            width: 100px
            height: 100px
            top: 5px
            left: 5px
            background: blue
            border-radius: 50%
            z-index: -1
    .video_h311
        color: black
        // +simple-mixin
        







// *****************************************************************
a
    &:hover
        text-decoration: none!important


    // /   ===>>              reset css 

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video
    margin: 0
    padding: 0
    border: 0
    font-size: 100%
    font: inherit
    vertical-align: baseline

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section 
    display: block

body
    line-height: 1

ol, ul
    list-style: none

blockquote, q
    quotes: none

blockquote:before, blockquote:after,
q:before, q:after
    content: ''
    content: none

table
    border-collapse: collapse
    border-spacing: 0



